<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.csdj.crmproject.crmproject.dao.Marketing.ActivityMarketing.ActivityMarketingMapper">
    <resultMap type="MarketActivity" id="findwordpaper">
        <id property="pkMarkActivityId" column="pk_mark_activity_id"/>
        <result property="activityName" column="activity_name"/>
        <result property="activityHead" column="name"/>
        <result property="activityType" column="activity_type"/>
        <result property="activityBudget" column="activity_budget"/>
        <result property="activityActualNumber" column="activity_actual_number"/>
        <result property="activityPlannedStartdate" column="activity_planned_start_date"/>
        <result property="activityPlannedEnddate" column="activity_planned_end_date"/>
        <result property="activityApprovalProcess" column="activity_approval_process"/>
        <result property="activityCirculationdate" column="activity_circulation_date"/>
        <result property="activityApprovalResult" column="activity_approval_result"/>
        <result property="activityFounder" column="cname"/>
        <result property="activityGmtCreate" column="activity_gmt_create"/>
    </resultMap>
    <select id="activi" resultType="MarketActivity" resultMap="findwordpaper">
 SELECT pk_mark_activity_id, `activity_name`  ,(SELECT `user_name` FROM `user` WHERE `pk_user_id`=`fk_user_id`) as name ,`activity_type` ,
`activity_budget` ,
`activity_actual_number`,`activity_planned_start_date` ,`activity_planned_end_date`,
`activity_approval_process` ,
`activity_circulation_date`  ,`activity_approval_result`  ,(SELECT `user_name` FROM `user` WHERE `pk_user_id`=`activity_founder`) as cname,
`activity_gmt_create`   FROM `market_activity`
        <where>
            <if test="activityApprovalProcess==1">
                and activity_approval_process='审批中'
            </if>
            <if test="activityApprovalProcess==2">
                and activity_approval_process='已成功'
            </if>
            <if test="activityApprovalProcess==3">
                and activity_approval_process='已失败'
            </if>
            and isdel=0
        </where>
    </select>

    <select id="marketCount" resultType="int">
    SELECT COUNT(1) AS marketCount FROM `market_activity`
        <where>
            <if test="activityApprovalProcess==1">
                and activity_approval_process='审批中'
            </if>
            <if test="activityApprovalProcess==2">
                and activity_approval_process='已成功'
            </if>
            <if test="activityApprovalProcess==3">
                and activity_approval_process='已失败'
            </if>
            and isdel=0
        </where>
    </select>

    <insert id="addMarket" >
        INSERT INTO market_activity(activity_name,fk_user_id,activity_type,activity_budget,activity_actual_number,
activity_planned_start_date,activity_planned_end_date,activity_approval_process,activity_circulation_date,
activity_approval_result,activity_founder,activity_gmt_create,isdel)
VALUES(#{activityName},#{activityHead},#{activityType},
#{activityBudget},#{activityActualNumber},#{activityPlannedStartdate},
#{activityPlannedEnddate},'审批中',#{activityCirculationdate},
#{activityApprovalResult},#{activityFounder},#{activityGmtCreate},0)

    </insert>

    <update id="delMarket" parameterType="int">
        UPDATE market_activity SET isdel=1 WHERE pk_mark_activity_id =#{pk_mark_activity_id}
    </update>

    <select id="uppkMarkActivityId" resultMap="findwordpaper">

SELECT pk_mark_activity_id, `activity_name`  ,(SELECT `user_name` FROM `user` WHERE `pk_user_id`=`fk_user_id`) AS NAME ,`activity_type` ,
`activity_budget` ,
`activity_actual_number`,DATE_FORMAT(`activity_planned_start_date`,'%Y-%m-%d %H:%i:%s')as activity_planned_start_date ,DATE_FORMAT(`activity_planned_end_date`,'%Y-%m-%d %H:%i:%s') as activity_planned_end_date,
`activity_approval_process` ,
`activity_circulation_date`  ,`activity_approval_result`  ,(SELECT `user_name` FROM `user` WHERE `pk_user_id`=`activity_founder`) AS cname,
DATE_FORMAT(`activity_gmt_create`,'%Y-%m-%d %H:%i:%s')AS activity_gmt_create   FROM `market_activity`
        where
            pk_mark_activity_id=#{pkMarkActivityId}


    </select>

    <update id="updaMarket" parameterType="MarketActivity" >

UPDATE market_activity SET
 activity_name=#{activityName},fk_user_id=#{activityHead},activity_type=#{activityType},
 activity_budget=#{activityBudget},activity_actual_number=#{activityActualNumber},
 activity_planned_start_date=#{activityPlannedStartdate},activity_planned_end_date=#{activityPlannedEnddate},
 activity_approval_process=#{activityApprovalProcess}, activity_circulation_date=#{activityCirculationdate},
 activity_approval_result=#{activityApprovalResult},activity_founder=#{activityFounder},
 activity_gmt_create=#{activityGmtCreate}
 WHERE pk_mark_activity_id =#{pkMarkActivityId}
    </update>


</mapper>